// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Heebo:700,900&display=swap');

h1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;	
}


/*header*/

.navbar-brand {
	font-size: 3.5em;
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1em;
}

#main-menu {
	margin-top: 10px;
}

#main-menu a {
	font-weight: 500;
	font-family: 'Heebo', sans-serif;
	color: #000;
	text-transform: uppercase;
	border-left: 1px solid $pink;	
}

.alt {
	margin-bottom: 20px;
}

/*home*/

.home-cards-row .col-md-4 {
	margin-bottom: 20px;
}

.card-bucket {
	padding: 20px;
	border: 2px solid $light-blue;
	border-radius: 9px;
	height: 100%;
}

.card-bucket h2 {
	color: $primary;
	text-align: center;
    text-transform: uppercase;
}

.card-bucket a {
	margin: 5px 0;
	display: block;	
	padding: 3px 5px;
	transition: all .4s;
	border-bottom: 1px solid #efefef;
}


.card-bucket a:hover{
	background-color: $light-blue;
}

/*sidebar art*/
#h-title {	
    transition: all 2s;   
    border-left: 50px solid $pink;
    padding-left: 10px;
    line-height: 1em;
}

.card {
	border: none;
}

.card-details {
	margin: 30px 0;
}

.card-icon {
	text-align: left;
	transition: all .4s ease;
	padding: 10px;
}

.card-icon a {
	display: block;
	width: 100%;
	height: auto;
}

.btn-cello {
	background-color: $primary;
	color: #fff;
	transition: all .4s;
}

.btn-cello:hover{
	background-color: $light-blue;
	color: $gray;
}


.update-box {
	padding: 20px;
	background-color: #efefef;
}

.update {
	background-color: #fff;
	padding: 10px;
}

.update .date {
	text-align: right;
	font-size: .8em;
	border-top: thin #efefef solid;
	padding-top: 10px;
}

.update .well::before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	background-image: url('../imgs/thumbsup.svg');
	background-position: center;
	background-size: cover;
}

.update .well {
	border-left: 2px solid green;
	padding: 10px;
}

.update .flags {
	border-left: 2px solid orange;
	padding: 10px;
}

.update .flags::before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	background-image: url('../imgs/flag.svg');
	background-position: center;
	background-size: cover;
}

.update .else {
	border-left: 2px solid #efefef;
	padding: 10px;
}

.update .else::before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	background-image: url('../imgs/notes.svg');
	background-position: center;
	background-size: cover;
}

/*card*/
.course-cat {
	font-size: 1.5em;
	font-weight: 200;
	color: #424242;
	margin: 12px 0;
}

.course-cat a {
	background-color: #efefef;
	padding: 5px;
	border-radius: 4px;
}


.course .card-icon img {
	display: inline-block;
	float: left;
	height: 35px;
	width: 35px;
	margin: 0 20px 0 0;
}


// .update-scroller {
// 	height: 120px;
// 	overflow-y: scroll;
// }

.course .hero-img {
	display: block;
    float: left;
    height: 35px;
    width: 35px;
    margin: 0 5px 0 0;
    border: 1px solid;
    border-radius: 50%;
    padding: 4px;
}

.course h2 {
	font-weight: 200;
}

/*general*/


.widget-title {
	margin-top: 30px;
}

#art-page-wrapper .entry-content img:first-of-type {
	margin: 0px auto 50px auto;
	
	display: block;
}

.entry-content img{
	margin: 50px auto;
	display: block;
}

#art-page-wrapper {
	padding:0;
}

/*mobile land*/

@media (min-width: 768px) { 
	#h-title {
	    position: static;
	    width: 100%;
	}
	.exhibit-desc{
    position: fixed;
    bottom: 20px;
    width: 250px;
    background-color: #fff;
	}
 }

.exhibit-desc{
	margin: 20px 0;
}

#h-title {
	margin-bottom: 25px;
}
